.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: none;
  width: 300px;
  text-align: center;
}

.popup-content {
  position: relative;
  width: 100%;
}

.popup-content img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.btn-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.popup button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.popup button:hover {
  color: #555;
}
